In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('DuLieuAnKhe/1.csv')

# In ra dữ liệu để kiểm tra
print(data)

     LVS/Hồ/Ngày/Giờ LVS/Hồ chứa/Ngày  Mực nước hồ (m)  \
0           00:00:00       2021-01-01           428.74
1           01:00:00       2021-01-01           428.76
2           02:00:00       2021-01-01           428.78
3           03:00:00       2021-01-01           428.80
4           04:00:00       2021-01-01           428.82
...              ...              ...              ...
2179        19:00:00       2021-04-01           427.63
2180        20:00:00       2021-04-01           427.62
2181        21:00:00       2021-04-01           427.61
2182        22:00:00       2021-04-01           427.60
2183        23:00:00       2021-04-01           427.60

      Lưu lượng đến hồ (m³/s)  Tổng lưu lượng xả (m³/s)[Thực tế]
0                       43.56                                7.9
1                       43.84                                4.0
2                       41.76                                4.0
3                       38.54                                4.0
4                       36.47                                4.0
...                       ...                                ...
2179                     2.15                               27.5
2180                     2.23                               13.1
2181                     2.38                               24.0
2182                     2.26                               25.5
2183                    23.56                               24.5

[2184 rows x 5 columns]