In [2]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv('DuLieuAnKhe2.csv')

In [5]:
df.head(10)

                  Time  WaterLevel  FlowWater  Total
0  2019-10-02 00:00:00      427.18       2.65    0.0
1  2019-10-02 01:00:00      427.19      10.67    0.0
2  2019-10-02 02:00:00      427.20      10.67    0.0
3  2019-10-02 03:00:00      427.20       4.00    0.0
4  2019-10-02 04:00:00      427.19       2.50    0.0
5  2019-10-02 05:00:00      427.19       2.27    0.0
6  2019-10-02 06:00:00      427.18       2.15    0.0
7  2019-10-02 07:00:00      427.18       2.06    0.0
8  2019-10-02 08:00:00      427.17       2.00    0.0
9  2019-10-02 09:00:00      427.17       2.00    0.0

In [6]:
df.shape

(30564, 4)

In [7]:
df.describe()

         WaterLevel     FlowWater        Total
count  30564.000000  30564.000000  30564.00000
mean     429.607426     34.622634      1.34084
std      242.433483     45.696040      7.04787
min       48.420000      1.100000      0.00000
25%      427.830000      4.050000      0.00000
50%      428.180000     32.430000      0.00000
75%      428.730000     39.150000      0.00000
max    42810.000000    537.630000    173.40000

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30564 entries, 0 to 30563
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Time        30564 non-null  object
 1   WaterLevel  30564 non-null  float64
 2   FlowWater   30564 non-null  float64
 3   Total       30564 non-null  float64
dtypes: float64(3), object(1)
memory usage: 955.3+ KB

In [10]:
df['Time'] = pd.to_datetime(df['Time'])

In [11]:
df.index=df['Time']

In [12]:
df.head()

                                   Time  WaterLevel  FlowWater  Total
Time
2019-10-02 00:00:00 2019-10-02 00:00:00      427.18       2.65    0.0
2019-10-02 01:00:00 2019-10-02 01:00:00      427.19      10.67    0.0
2019-10-02 02:00:00 2019-10-02 02:00:00      427.20      10.67    0.0
2019-10-02 03:00:00 2019-10-02 03:00:00      427.20       4.00    0.0
2019-10-02 04:00:00 2019-10-02 04:00:00      427.19       2.50    0.0